<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/checkbox.css">
</head>

<body>
    <section>
        <div class="create_container">
            <input type="text" class="create_input" placeholder="Жаны тапшырма жазуу" />
            <button class="create_button">Кошуу</button>
        </div>

        <div class="todo_container">
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сут сатып алуу</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сут сатып алуу</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/marked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сут сатып алуу</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сут сатып алуу</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сут сатып алуу</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label>
                    <h4>Сут сатып алуу</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/unmarked.png">
                        <img src="./icons/delete.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>