{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./styles/style.css"> -->
    <link rel="stylesheet" href="{%static 'styles/style.css'%}">
    <link rel="stylesheet" href="{%static 'styles/checkbox.css'%}">
</head>

<body>
    <section>
        <div class="create_container">
            <form action="{%url 'add-todo'%}" method="POST">
                {%csrf_token%}
                <input type="text" class="create_input" name="todo_text" placeholder="Жаны тапшырма жазуу" />
                <button class="create_button">Кошуу</button>
            </form>
        </div>

        <div class="todo_container">
            {% for todo in todo_list %}
            <div class="todo_item
                {% if todo.is_favorite %}
                    marked
                {%endif%}
                {%if todo.is_closed%}
                    done
                {%endif%}

            ">
                <div class="todo_item_header">
                    <a href="{% url 'closed-todo' todo.id%}">
                        <label class="checkbox_container">
                        <input type="checkbox"/>
                        <span class="checkmark"></span>
                    </label></a>
                    <h4>{{todo.text}}</h4>
                </div>
                <div class="todo_item_footer">
                    <p>{{todo.created_at}}</p>
                    <div class="action_buttons">
                        {%if todo.is_favorite%}
                        <a href="{% url 'unmark-todo' todo.id%}"><img src="{% static './icons/marked.png'%}"></a>
                        {%else%}
                        <a href="{% url 'mark-todo' todo.id%}"><img src="{% static './icons/unmarked.png'%}"></a>
                        {%endif%}
                        <a href="{% url 'delete-todo' todo.id%}"><img src="{% static './icons/delete.png'%}"></a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </section>
</body>

</html>